<%- include("partials/header") -%>
<%- include("partials/nav") -%>

<div class="container message-page">
    <center><h1>This feature is not available in v1.0.0</h1></center>
</div>
<%- include("partials/mob-nav") -%>
<%- include("partials/footer") -%>