<%- include("partials/header") -%>

<div class="container message-page">
    <center><h1>Account not found!<br>Please check the entered username.</h1></center>
</div>

<%- include("partials/footer") -%>